.client-container {
  background-color: white;
  width: 85.375rem;
  height: 48rem;
  display: flex;
  border-radius: 0.25rem;
  overflow: hidden;
}

.temp {
  width: 966px;
  background: url('../../assets//images/background-client.jpg');
  background-repeat: no-repeat;
  background-size: 150%;
  background-position-x: 40%;
}
