.main-container {
  width: 966px;
  background: url('../../assets/images/background-client.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 35%;
  user-select: none;

  .main-content {
    width: 100%;
    display: flex;
    height: calc(100% - 2.5rem);
    flex-direction: column;
    margin-top: 2.5rem;
    
    .alert-container {
      flex-direction: column;
      display: flex;
      justify-content: space-between;
      height: 100%;
  
      .square {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #D950E5;
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 0.15rem;
        transform:  rotate(45deg);
        margin-left: 2rem;
        cursor: pointer;
        transition: 0.2s;
        
        &:hover{
          filter: brightness(0.90);
        }
  
        p {
          transform:  rotate(-45deg);
          font-weight: 800;
          font-size: 1.5rem;
  
        }
      }
  
      .settings {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-end;
        width: 2rem;
        height: 2rem;
        background-color: #6E6E6E;
        border-radius: 0.20rem;
        cursor: pointer;
        margin-right: 2.5rem;
        margin-bottom: 2rem;
        transition: 0.2s;
  
        &:hover {
          filter: brightness(1.25);
        }
      }
    }
  }
}
