@import './assets/scss/index.scss';

body {
  background: rgb(33,189,201);
  background: linear-gradient(90deg, rgba(33,189,201,1) 0%, rgba(84,15,145,1) 100%);
  font-family: 'Poppins', 'Montserrat', sans-serif;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
